@import "vars";
@import "vendor/reset";


html{
    font-size: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #181818;
    font-size: 1.4rem;
    color: $white;
    line-height: 1.5;
    &.no-scroll{
        overflow: hidden;
    }
}

*,
*:before,
*:after{
    box-sizing: border-box;
}


a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

// blocks
@import "blocks/header.scss";
@import "blocks/sidebar";
@import "blocks/nav";
@import "blocks/search";
@import "blocks/subnav";
@import "blocks/main.scss";
@import "blocks/container.scss";
@import "blocks/page.scss";
@import "blocks/profile.scss";
@import "blocks/social.scss";
@import "blocks/btn.scss";
@import "blocks/stories.scss";
@import "blocks/add-post.scss";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/form";
@import "blocks/work";
@import "blocks/tags";
@import "blocks/cabinet";
@import "blocks/modal";















