.add-post{
    margin-bottom: 3rem;
    box-shadow: 0 5px 25px rgba($black, 0.45);
    background-color: $secondary;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    @include breakpoint($mobile-bp){
        padding: 1.5rem;
    }
}

.add-post__form{
    display: flex;
    align-items: center;
}

.add-post__textarea{
    display: block;
    flex-grow: 1;
    width: 80%;
    height: 30px;
    border: none;
    background: transparent;
    resize: none;
    font-family: inherit;
    font-size: 1.5rem;
    color: $white;
    overflow: hidden;

    &:placeholder{
        color: d2d2d2;
    }
}

.add-post__form-actions{
    width: 120px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    @include breakpoint($mobile-bp){
        width: 9rem;

    }
}
.add-post__file,
.add-post__send{

    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: backrgound-color 0.2s linear;
    @include breakpoint($mobile-bp){
        width: 3.4rem;
        height: 3.4rem;
    }
    
}
.add-post__file{
    background: #ebebeb url("../images/add-photo.svg") center no-repeat;
    
    input{
        display: none;
    }
    &:hover{
        background-color: darken(#ebebeb, 5%);
    }
    @include breakpoint($mobile-bp){
        background-size: 18px;
    }
}

.add-post__send{
    font-size: 0;
    color: transparent;
    background: $blue url("../images/send.svg") center no-repeat;
    &:hover{
        background-color: darken($blue, 5%);
    }
    @include breakpoint($mobile-bp){
        background-size: 15px;
    }
}