.btn{
    display: inline-block;
    vertical-align: top;

    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.1;
    color: $white;

    background: $secondary;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 1.1em 2.1em;
    border-radius: 3em;
    transition: background-color 0.2s linear;
    &--red{
        background-color: $red;
        box-shadow: 0 7px 17px -10px rgba($red, 0.3);
        &:hover{
            background-color: darken($red, 7%);
        }
    };
    &--blue{
        background-color: $blue;
         box-shadow: 0 7px 17px -10px rgba($blue, 0.3);
         &:hover{
            background-color: darken($blue, 7%);
        }
    }
    &--rounded{
        border-radius: 0.41em;
    }
    &--sm{
        padding: 0.7em 1.25em ;
    }
}