.stories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 13px;
    grid-template-rows: 195px;
}
.stories__item{
    position: relative;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba($black, 0.2);
    cursor: pointer;
    &:after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-image: linear-gradient(to bottom, rgba($black, 0.8), rgba($black, 0) 50%, rgba($black, 0.8) );
    }
    &:hover{
        .stories__preview{
            transform: scale(1.3);
            transition-duration: 2s;
        }
    }
}

.stories__preview{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform .5s ease-in-out;
    
}

.stories__title,
.stories__date{
    font-size: 1.2rem;
    color: $white;
    position: absolute;
    left: 0;
    z-index: 3;
    padding: 1.4rem;
    width: 100%;
    line-height: 1.3;
}
.stories__title{
    top: 0;
}

.stories__date{
    bottom: 0;
    text-align: right;
}