<div class="modal">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="закрыть">
        </button>
     

    <ul class="social">
        <li class="social__item">
            <a class="social__link" href="#" >
                <div class="social__link_bg social__link_bg--bigger instagram"></div>
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="#" >
                <div class="social__link_bg social__link_bg--bigger linkedin"></div>
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="#" >
                <div class="social__link_bg social__link_bg--bigger facebook"></div>
            </a>
        </li>
        
    </ul>


    </div> <!-- ./modal__content-->
</div> <!-- ./modal-->