<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar__header_img.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://placehold.it/100x100" alt="">
            <div class="profile__name">Александр Бородинов</div>
            <div class="profile__prof">Front-end developer</div>
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="blank">
                        <div class="social__link_bg instagram"></div>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="blank">
                        <div class="social__link_bg linkedin"></div>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="blank">
                        <div class="social__link_bg facebook"></div>
                    </a>
                </li>
            </ul>
            <div class="profile__text">
                <p>Front-end разработчик. Изучаю разработку с начала 2020 года.


                </p>
            </div>
        </div>
    </div>
    <div class="sidebar__footer">
        <a href="#" class="btn btn--red">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>
